@using testdatamodel.Models

@{
    ViewBag.Title = "DetailNewArticle";
    Layout = "~/Areas/Back/Views/Shared/_Layout.cshtml";
}

<h2>編輯文章</h2>

@helper ArticleResult(BackArticle backArticle)
{
    var artId = backArticle.ID;
    var imgUrl = Url.Content("~/images/" + backArticle.Titlepic);
    var main = backArticle.Main;


}
<div class="card">
    <div class="card-header">
        <h5>@ViewData["artTitle"].ToString()</h5>
    </div>
    <div class="card-block">
        <form method="post" action="@Url.Action("EditArticle")">
            <input type="hidden" name="artId" value="@ViewData["artID"]"/>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Placeholder</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@ViewData["artTitle"]" name="title">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">封面圖片</label>
                <div class="col-sm-10">
                    <img src="@ViewData["artTitlePhoto"].ToString()" width="200px"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">內容</label>
                <div class="col-sm-10">
                    @Html.TextArea("ContentText", @ViewData["artMain"].ToString(), new {id = "ContentText", @name = "ContentText"})
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success waves-effect waves-light">送出</button>
            </div>
        </form>

    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" language="javascript">
        var editor = CKEDITOR.editor.replace('ContentText', { skin: 'kama', width: '750px' });
    </script>
}