@using testdatamodel.Models
@model IEnumerable<testdatamodel.Models.BackArticle>

@{
    ViewBag.Title = "ShowNewArticle";
    Layout = "~/Areas/Back/Views/Shared/_Layout.cshtml";
}

<h2>最新的精選文章</h2>

@helper ArticleResult(BackArticle backArticle)
{
    var artId = backArticle.ID;
var url = Url.Action("DetailNewArticle", "BackMember")+"?artId=" + artId ;
var imgUrl = Url.Content("~/images/" + backArticle.Titlepic);
    <div class="card">
        <div class="card-header">
            <h5>@backArticle.Title</h5>
        </div>
        <div class="card-block">
            <form>
                @*<div class="form-group row">
                <label class="col-sm-2 col-form-label">標題</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="" readonly>
                </div>
            </div>*@

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">封面圖片</label>
                    <div class="col-sm-10">
                        <img src="@imgUrl" width="200px" />
                    </div>
                </div>
                <div class="form-group row">
                    <a href="@url" class="col-sm-2 col-form-label">展開閱讀</a>
                </div>
                
            </form>

        </div>
    </div>
    
   


}


<ul>
    @foreach (var article in Model)
    {
        <li>@ArticleResult(article)</li>
    }
</ul>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" language="javascript">
        var editor = CKEDITOR.editor.replace('ContentText', { skin: 'kama', width: '750px' });
    </script>
}